<div class="main-page p-5">
  <div class="main-profile-card grid">
    <div class="col-12 grid">
      <div class="col-3 profile-avatar">
        <p-avatar class="rounded-full" [image]="streamerProfile.streamer?.avatar" size="xlarge"></p-avatar>
      </div>
      <div class="col-9">
        <h3>{{streamerProfile.streamer?.name}}</h3>
        <p class="font-size-12">Business contact: neex@igie.gg PRAGNĘ RÓWNIEŻ PRZYPOMNIEĆ, ŻE WIĘKSZOŚĆ RZECZY NA TYM KANALE TO GRA AKTORSKA</p>
      </div>
    </div>
    <div class="col-12 streamer-links">
      <app-streamer-link-list [streamerLinks]="streamerProfile.streamerLinks"></app-streamer-link-list>
    </div>
  </div>
  <div class="main-profile-details">
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0" class="flex items-center !gap-2 font-bold">
          <i class="pi pi-home"></i>
          <span class="whitespace-nowrap">Ogólne</span>
        </p-tab>
        <p-tab value="1" class="flex items-center !gap-2 font-bold">
          <i class="pi pi-hashtag"></i>
          <span class="whitespace-nowrap">Współprace</span>
        </p-tab>
        <p-tab value="2" class="flex items-center !gap-2">
          <i class="pi pi-gift"></i>
          <span class="whitespace-nowrap">Giveaways</span>
        </p-tab>
        <p-tab value="3" class="flex items-center !gap-2">
          <i class="pi pi-calendar-clock"></i>
          <span class="whitespace-nowrap">Wydarzenia</span>
        </p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          ex-csgo-pro-player
          Panuje tu zazwyczaj luźna guma, także polecam nie brać wszystkiego na poważnie i do siebie.
          Contact/Bussines:
          neex@igie.gg
          Private: neexutrela@gmail.com

          Past Teams:
          Clan Poland (NEEX, MICHU , KubiK, micronn, emotec)
          ePlay ( NEEX, oskarish, sofokles, qater, fire )
          ESC GAMING ( NEEX, repo, tecek, matty, mynio )
          PRIDE ( NEEX, morelz reatz, kamil, exus )
          Izako Boars ( NEEX, nawrot, matty, tecek, patitek )
          SMASH ( NEEX, fejtz, bubble, disco doplan, grux )
        </p-tabpanel>
        <p-tabpanel value="1">
          <app-advertisement-list [advertisements]="streamerProfile.advertisements"></app-advertisement-list>
        </p-tabpanel>
        <p-tabpanel value="2">
          <p class="m-0">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
            modi.
          </p>
        </p-tabpanel>
        <p-tabpanel value="3">
         <app-fullcalendar></app-fullcalendar>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
