.image-container {
  margin: auto;
  img {
    max-height: 500px;
    transition: all 0.3s ease;
  }
  img:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    cursor: pointer;
    scale: 1.05;
  }
}
